$text-color:#923455;

$photos:'https://visualhunt.com/photos/l/7/flower-bouquet-bunch-daisys.jpg',
'https://visualhunt.com/photos/l/7/flower-tropical-petal.jpg',
'https://visualhunt.com/photos/l/7/bloom-flower-petal.jpg',
'https://visualhunt.com/photos/l/7/petal-flora-flower.jpg',
'https://visualhunt.com/photos/l/7/botanical-flower-flora.jpg',
'https://visualhunt.com/photos/l/7/rose-flower-bloom.jpg',
'https://visualhunt.com/photos/l/7/coffee-flatlay-sunflower.jpg',
'https://visualhunt.com/photos/l/8/flower-petal.jpg';

$colors: (1:#EF8354 ,
       2:#BFC0C0 ,
       3:#A5FFD6 ,
       4:#84DCC6 ,
       5:#4F5D75 ,
       6:#2D3142 ,
       7:#33658A ,
       8:#2F4858 );

$colours: ('cool1':#EF8354 ,
       'cool2':#BFC0C0 ,
       'cool3':#A5FFD6 ,
       'cool4':#84DCC6 ,
       'cool5':#4F5D75 ,
       'cool6':#2D3142 ,
       'cool7':#33658A ,
       'cool8':#2F4858 );

$types: 5;
$type-width: 50px;